* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15%;
}

.logo{
    display: flex;
    align-items: center;
}

.imagen-logo{
    width: 85px;
    height: 85px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #4CAF50;
    z-index: 1000;
    transition: 0.8s ease-in-out ;
}

.nav-scroll {
    position: fixed;
    background-color: #223419d9;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px rgb(5, 0, 0);
    padding: 15px;
}

.inicio{
    color: blue;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.banner{
    width: 100%;
    height: 520px;
    margin-bottom: 15px;

}

.contenedor-seccion2{
    width: 20vw;
}

.img-seccion2{
    width: 20vw;
    height: 12vw;
}

#seccion2{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.enlace-seccion2{
    text-decoration: none;
    color: black;
}

#seccion3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 10px;
    margin-bottom: 85px;
}

.imagen-seccion3{
    width: 96vh;
    margin-bottom: 25px;
    height: 55vh;
}

.informacion-seccion3{
    display: flex;
    flex-direction: column;
}

.enlaces-seccion3{
    text-decoration: none;
    margin-top: 15px;
    color: black;
}

.blue{
    color: rgb(73, 117, 250);
}

.educacion{
    margin-left: 46px;
}

.imagen-video{
    grid-column: 2;
    grid-row: 1;
}

#noticias-container{
    background-color: #000000;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 15px;
}

#noticias-container .noticia {
    padding: 10px;
    margin: 20px;
    background-color:#f9f9f900;
    color: white;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 30px 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .footer-container img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
  .footer-container a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-container a:hover {
    text-decoration: underline;
  }
  
  @media (min-width: 600px) {
    .footer-container {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }
  
