<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contacto</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Css/contacto.css">
  <link rel="stylesheet" href="../Css/estilo.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css">
</head>

<body>
  <header>
    <div class="logo">
      <img class="imagen-logo" src="../img/MundoCanon.png" alt="logo de camara de foto" width="500" height="500">
      <h1>MundoCanon</h1>
    </div>
      <nav id="navbar">
          <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="galeria.html">Galeria</a></li>
              <li><a href="presupuesto.html">Presupuesto</a></li>
              <li><a href="contacto.html" class="inicio">Contacto</a></li>
          </ul>
      </nav>
  </header>

  <div class="container-maps">
    <div class="contacto">
      <h2>Contacto</h2>
      <p><span class="etiqueta">Nombre del negocio:</span> Mi Empresa S.A.</p>
      <p><span class="etiqueta">Dirección:</span> Calle Falsa 123, Madrid, España</p>
      <p><span class="etiqueta">Teléfono:</span> +34 900 123 456</p>
      <p><span class="etiqueta">Email:</span> contacto@miempresa.com</p>
    </div>

    <div class="maaap">
      <div id="map"></div>
      <div id="instrucciones"></div>
    </div>
  

  </div>

  <footer>
    <div class="footer-container">
      <div class="social-media">
        <a href="https://facebook.com" target="_blank"><img src="../img/Facebook_logo.png" alt="Facebook" width="960" height="960"></a>
        <a href="https://twitter.com" target="_blank"><img src="../img/twiter-logo.png" alt="Twitter" width="512" height="512"></a>
        <a href="https://instagram.com" target="_blank"><img src="../img/Instagram_logo.png" alt="Instagram" width="1200" height="1200"></a>
      </div>
      
      <div class="company-info">
        <p>Mundo Canon S.A.<br>
          Calle Falsa 123, Madrid, España<br>
          Tel: +34 900 123 456
        </p>
      </div>
      
      <div class="legal">
        <a href="aviso-legal.html">Aviso Legal</a>
      </div>
    </div>
  </footer>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.min.js"></script>
    <script src="../JS/contacto.js"></script>

</body>
</html>
