<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Explora la galería de productos y objetivos para cámaras en MundoCanon, tu tienda especializada en fotografía.">
    <meta name="keywords" content="cámaras, objetivos, fotografía, MundoCanon, productos, galería">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Cámaras y Objetivos - MundoCanon</title>
    <link rel="stylesheet" href="../Css/galeria.css">
    <link rel="stylesheet" href="../Css/estilo.css">
</head>
<body>
    <header>
        <div class="logo">
          <img class="imagen-logo" src="../img/MundoCanon.png" alt="Logo de MundoCanon" width="500" height="500">
          <h1>MundoCanon</h1>
        </div>
        <nav id="navbar" aria-label="Menú de navegación principal">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="/views/galeria.html" class="productos">Galería</a></li>
                <li><a href="/views/presupuesto.html">Presupuesto</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="galeria" id="galeria"></div>

    <h2 class="titulo-objetivo">Objetivos para cámaras</h2>

    <div class="galeria" id="objeto"></div>

    <footer>
        <div class="footer-container">
            <div class="social-media">
                <a href="https://facebook.com" target="_blank">
                    <img src="/img/Facebook_logo.png" alt="Logo de Facebook" width="120" height="120" loading="lazy">
                </a>
                <a href="https://twitter.com" target="_blank">
                    <img src="/img/twiter-logo.png" alt="Logo de Twitter" width="120" height="120" loading="lazy">
                </a>
                <a href="https://instagram.com" target="_blank">
                    <img src="/img/Instagram_logo.png" alt="Logo de Instagram" width="120" height="120" loading="lazy">
                </a>
            </div>
            
            <div class="company-info">
                <p>Mundo Canon S.A.<br>
                  Calle Falsa 123, Madrid, España<br>
                  Tel: +34 900 123 456
                </p>
            </div>
            
            <div class="legal">
                <a href="aviso-legal.html">Aviso Legal</a>
            </div>
        </div>
    </footer>

    <script src="../JS/galeria.js"></script>
</body>
</html>
